body
{
	font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


.cardDeck{
    min-height: 100%;
}

.imgRegister
{
    height: 500px;
    width: auto;
}

.productHeight
{
    min-height: 100%;
}

.colorYellow{
    color: orange;
}

.heading
{
    color: #5643fa !important;
    font-size: 700;
}
.paragraphs
{
    font-size: 500;
}
.button
{
    margin-top: 1rem;
    padding: .5rem 1.5rem;
    font-family: "Roboto",sans-serif;
    border: 2px solid #5643fa;
    border-radius: 5px;
}

.button.primary-button
{
    background:linear-gradient(to right, #5643fa,#2998ff);
    background-clip: padding-box;
    color: white;
    transition: all .2s ease;
}

.primary-button:hover
{
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    transform: translateY(-1px);
}

.secondary-button
{
    background: white;
    background-clip: padding-box;
    transition: all .2s ease;
}

.secondary-button:hover
{
    background: #55c57a;
}


.project
{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 5px;
    color :  #000 !important;
}

.section-page {
    padding: 2rem;
}

.cards
{
    background-color: rgba(white,.8);
    transition: all 0.2s ease;
}

.cards:hover
{
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow:0px 10px 30px rgba(57, 56, 61, 0.205);
}

.spinner
{
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


